@import url(fonts.css);

.vboo {
  background-color: #f2f4f2;
}

.vboo main {
  font-family: 'Laila', serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.vboo main h1 a,
.vboo main h2 a,
.vboo main h3 a {
  color: inherit;
}

.vboo main h1:after,
.vboo main h2:after,
.vboo main h3:after {
  content: ' ';
  display: block;
  border: 1.5px solid #d3d3d3;
}

.vboo main h2:after {
  border-width: 1px
}

.vboo main h3:after {
  border-width: 0.5px
}

.vboo main .table-container {
  overflow-x: auto;
}

.vboo main table {
  display: table;
  width: auto;
  margin: 5px auto;
}

.vboo main table th {
  /*#0bb111*/
  background-color: #159957;
  color: #fff;
}

.vboo main table tr:nth-child(even) {
  background-color: #d8d8d8;
}

.vboo main q {
  color: #000;
}

.vboo main mark {
  background: none;
  color: #000;
}

.vboo main .prakriya-block {
  background-color: #159957;
  color: floralwhite;
  padding: 10px;
  border-left: 5px solid #2e5a27;
}

.vboo main .prakriya-block> :last-child {
  margin-bottom: 0;
}

@media print {
  .vboo,
  .vboo *,
  .vboo *::after {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #1d1d1d !important;
  }
}
