@import url(fonts.css);

.lsk {
  background-color: #f2f4f2;
}

.lsk main {
  font-family: 'Laila', serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.lsk main h1 a,
.lsk main h2 a,
.lsk main h3 a {
  color: inherit;
}

.lsk main h1:after,
.lsk main h2:after {
  content: ' ';
  display: block;
  border: 1.5px solid #d3d3d3;
}

.lsk main h2:after {
  border-width: 1px 
}

.lsk main table {
  display: table;
  width: auto;
  margin: 5px auto;
}

.lsk main table th {
  /*#0bb111*/
  background-color: #159957;
  color: #fff;
}

.lsk main table tr:nth-child(even) {
  background-color: #d8d8d8;
}

.lsk q {
  color: #000;
}

.lsk mark {
  background: none;
  color: #000;
}