@import url(fonts.css);

* {
  box-sizing: border-box;
}

.vboo {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.vboo header {
  background-color: #159957;
  height: 50px;
  width: 100%;
}

.vboo header .logo {
  background: url(vboo-fav.png) no-repeat center;
  background-size: contain;
  height: 100%;
  width: 50px;
  margin-left: 10px;
}

.vboo main {
  font-family: "Laila", serif;
  max-width: 700px;
  margin: 5px auto 55px;
  padding: 20px;
  word-wrap: break-word;
}

.vboo main :first-child {
  margin-top: 0;
}

.vboo main img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.vboo main h1,
.vboo main h2,
.vboo main h3,
.vboo main h4,
.vboo main h5,
.vboo main h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
}

.vboo a {
  color: #1e6bb8;
  text-decoration: none;
}

.vboo a:hover {
  text-decoration: underline;
}

.vboo main h1 a,
.vboo main h2 a,
.vboo main h3 a {
  color: inherit;
}

.vboo main h1::after,
.vboo main h2::after,
.vboo main h3::after {
  content: " ";
  display: block;
  border: 1.5px solid #d3d3d3;
}

.vboo main h2::after {
  border-width: 1px;
}

.vboo main h3::after {
  border-width: 0.5px;
}

.vboo main ul,
.vboo main ol {
  margin-top: 0;
}

.vboo main li p {
  margin: 0;
  padding: 0;
}

.vboo main blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #8a8a8a;
  border-left: 5px solid #0bb111;
}

.vboo main blockquote> :first-child {
  margin-top: 0;
}

.vboo main blockquote> :last-child {
  margin-bottom: 0;
}

.vboo main .remark-wrapper-table {
  overflow-x: auto;
}

.vboo main table {
  margin: 5px auto;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
}

.vboo main table th {
  font-weight: bold;
  /* #0bb111 */
  background-color: #159957;
  color: #fff;
}

.vboo main table th,
.vboo main table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}

.vboo main table tr:nth-child(even) {
  background-color: #d8d8d8;
}

.vboo main dl {
  padding: 0;
}

.vboo main dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.vboo main dl dd {
  padding: 0;
  margin-bottom: 1rem;
}

.vboo main hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

.vboo main nav {
  font-size: 0.9rem;
  background-color: #dadada;
  padding: 5px;
  border-radius: 5px;
}

.vboo main article {
  font-size: 1.25rem;
  line-height: 1.8;
}

.vboo main q {
  color: #000;
}

.vboo main mark {
  background: none;
  color: #000;
}

.vboo main .prakriya-block {
  background-color: #159957;
  color: floralwhite;
  padding: 10px;
  border-left: 5px solid #2e5a27;
}

.vboo main .prakriya-block> :last-child {
  margin-bottom: 0;
}

.vboo main ul>li>p {
  margin-bottom: 0;
}

ul.checklist {
  list-style-type: none;
  padding-inline-start: 20px;
}

ul.checklist li::before {
  content: "\2714\0020";
}

@media print {

  .vboo,
  .vboo *,
  .vboo *::after {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #1d1d1d !important;
  }

  .vboo header {
    display: none;
  }

  .vboo main img[src*=".gif"] {
    display: none;
  }
}
