@import url(fonts.css);

* {
  box-sizing: border-box;
}

.vboo {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  font-family: 'Laila', 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.vboo header {
  background-color: #159957;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.vboo header > div {
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
}

.vboo header > div > div {
  display: table-row;
}

.vboo header .logo {
  background: url(vboo-fav.png) no-repeat center;
  background-size: contain;
  height: 100%;
  width: 50px;
  display: table-cell;
}

.vboo header .sidebar-toggle-btn {
  background: url(sidebar-icon.svg) no-repeat 5%;
  background-size: 30px;
  height: 100%;
  width: 50px;
  padding-left: 5px;
  display: table-cell;
}

.vboo header .search-toggle-btn {
  background: url(search-icon.svg) no-repeat 95%;
  background-size: 30px;
  height: 100%;
  width: 50px;
  display: table-cell;
  padding-right: 5px;
}

.vboo main {
  max-width: 700px;
  margin: 55px auto 55px;
  padding: 20px;
  word-wrap: break-word;
}

.vboo main :first-child {
  margin-top: 0;
}

.vboo main img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.vboo main h1,
.vboo main h2,
.vboo main h3,
.vboo main h4,
.vboo main h5,
.vboo main h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
}

.vboo a {
  color: #1e6bb8;
  text-decoration: none;
}

.vboo a:hover {
  text-decoration: underline;
}

.vboo main h1 a,
.vboo main h2 a,
.vboo main h3 a {
  color: inherit;
}

.vboo main h1::after,
.vboo main h2::after,
.vboo main h3::after {
  content: ' ';
  display: block;
  border: 1.5px solid #d3d3d3;
}

.vboo main h2::after {
  border-width: 1px;
}

.vboo main h3::after {
  border-width: 0.5px;
}

.vboo main ul,
.vboo main ol {
  margin-top: 0;
}

.vboo main li p {
  margin: 0;
  padding: 0;
}

.vboo main blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #8a8a8a;
  border-left: 5px solid #0bb111;
}

.vboo main blockquote > :first-child {
  margin-top: 0;
}

.vboo main blockquote > :last-child {
  margin-bottom: 0;
}

.vboo main .remark-wrapper-table {
  overflow-x: auto;
}

.vboo main table {
  margin: 5px auto;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
}

.vboo main table th {
  font-weight: bold;
  /* #0bb111 */
  background-color: #159957;
  color: #fff;
}

.vboo main table th,
.vboo main table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}

.vboo main table tr:nth-child(even) {
  background-color: #d8d8d8;
}

.vboo main dl {
  padding: 0;
}

.vboo main dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.vboo main dl dd {
  padding: 0;
  margin-bottom: 1rem;
}

.vboo main hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

.vboo main nav {
  font-size: 0.9rem;
  background-color: #dadada;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.vboo main article {
  font-size: 1.25rem;
  line-height: 1.8;
}

.vboo main q {
  color: #000;
}

.vboo main mark {
  background: none;
  color: #000;
}

.vboo main .prakriya-block {
  background-color: #159957;
  color: floralwhite;
  padding: 10px;
  border-left: 5px solid #2e5a27;
}

.vboo main .prakriya-block > :last-child {
  margin-bottom: 0;
}

.vboo main ul > li > p {
  margin-bottom: 0;
}

.vboo aside {
  display: none;
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 1.25rem;
}

.vboo aside.open {
  display: block;
}

.vboo aside .search-input-container {
  width: 100%;
  text-align: center;
}

.vboo aside .search-input-container .search-input {
  width: 95%;
  height: 50px;
  outline: none;
  background: none;
  margin: 5px 0;
  padding: 5px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #e2e2e2;
  font-family: inherit;
}
.vboo aside .search-results-container {
  margin: 10px auto 0;
}
.vboo aside .search-results-container,
.vboo aside .toc-container {
  border-width: 2px 0 0 0;
  border-color: #2e5a27;
  border-style: solid;
}

.vboo aside .toc-container {
  padding: 0 0 0 20px;
}

.vboo aside .toc-container h1 {
  font-size: 1.5rem;
  color: #159957;
}

.vboo aside .toc-container ul {
  padding-inline-start: 20px;
}

.vboo aside .toc-container ul p {
  margin: 0;
}

.vboo aside .toc-container ul li {
  margin: 5px auto;
}

.vboo aside .search-results-container .search-result {
  padding: 10px 10px;
  font-weight: 700;
  border-width: 0 0 2px 0;
  border-color: #afc3ac;
  border-style: solid;
}

.vboo aside .search-results-container .search-result:hover {
  background-color: #dadada;
}

@media only screen and (min-width: 600px) {
  .vboo header .sidebar-toggle-btn {
    background-position-x: 1%;
  }
  .vboo header .search-toggle-btn {
    background: none;
  }
  .vboo aside {
    width: 300px;
  }
}

@media print {
  .vboo,
  .vboo *,
  .vboo *::after {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #1d1d1d !important;
  }

  .vboo header,
  .vboo aside {
    display: none;
  }

  .vboo main {
    margin-top: 0;
  }

  .vboo main img[src*='.gif'] {
    display: none;
  }
}
